<!DOCTYPE html>
<html>
    <head>
        <title> Gerlanda's Pizza - Busch Campus </title>
    </head>
    <body>
        <h1> Welcome to Gerlanda's Pizza </h1>

        <h2> Items on the Menu </h2>
        <ol>
            <li> Pepperoni </li>
            <li> Sausage </li>
            <li> Plain </li>
            <li> Veggie </li>
            <li> Sicilian </li>
        </ol>

        <form action="/process">
            <p> Please enter your order below </p>
            <textarea name="order"></textarea>
            <br>
            <input type="submit" value="Submit Order" />
        </form>
    </body>
</html>
